.page-content{
	overflow: hidden;
}

div.page-content {
	position:relative;
	z-index:-1;
}

div.hospital-dropdown {
	text-align:right; 
	width:500px;
}

.btn-info {
	margin-right: 5px;
}
    
    
div.form-actions {
	width :95%;
}

#hospital-specific-tab table input[type='text'] {
	width: 150px;
	height: 20px;
}


input#txtValueSet {
	width: 240px;
	padding: 0 !important;
}

input.location, input.source {
	height: 20px ;
	line-height: 20px;
	width: 90%;
}

select{
	height: 30px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 30px;
	font-size: 16px;
	width: auto !important;
}

table#extra-table input[type='text'] {
	width:260px;
}

table td {
	padding-bottom: 0 !important;
}



