.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert-heading {
color: inherit;
}

.alert .close {
position: relative;
top: -2px;
right: -21px;
line-height: 18px;
}

.alert-success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.alert-info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}

/*-------------*/

.page-content{
	overflow: hidden;
}

div.page-content {
	position:relative;
	z-index:-1;
}

div.hospital-dropdown {
	text-align:right; 
	width:500px;
}

.btn-info {
	margin-right: 5px;
}
    
    
div.form-actions {
	width :95%;
}

#hospital-specific-tab table input[type='text'] {
	width: 150px;
	height: 20px;
}


input#txtValueSet {
	width: 240px;
	padding: 0 !important;
}


#hospital-elements td div.code{	
    overflow: hidden;  
    width: 180px;
    padding: 0;
    margin:0;
}


/*#extra-table td div.code {
	overflow: hidden;  
    width: 250px;
}*/

input.location {
	width: 90%;
}


select{
	height: 30px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */
	margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 30px;
	font-size: 16px;
	width: auto !important;
	min-width: 100%;
}


div#main_table select{
	width: 100% !important;
}

#slcEHRs{
	width:255px !important;
}

#btnExternalEHRs {
	padding-left: 53px;
}

table#extra-table input[type='text'] {
	width:260px;
}

table td {
	padding-bottom: 0 !important;
}

