body {
    color: #575c7a;
    line-height: 1.5em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
    font-size: 14px;
    background-color:rgb(209, 223, 201);
    margin:0;
    padding:0;
    height:100%;
    background: url("images/bg.png") repeat-y center;       
}

div#hospital-specific, div#hospital-specific input[type="file"] {
	font-size: 12px;	
}


div#message-box {
	margin-left: 12px;
    margin-top: -3px;
    color: #0088CC;
}

.row_selected {
	background-color: #FF0000;
}

h3 {
    font-size: 19.5px;
}

/*.create_new {  
    left: 10px;
    position: absolute;
    top: 60px;      
}*/


table.dataTable thead th {
    border-bottom: none;
}    

button.btn, input.btn[type="submit"] {
    margin-left: 4px;
}

td div.name {
	display: block;
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    width: 300px;
    white-space: nowrap;
}

td div.notes {
	display: block;
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    width: 300px;
    white-space: nowrap;
}


td div.title {
	display: block;
    height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    width: 350px;
    white-space: nowrap;
}

form#hospital-list td div.name {
	 width: 400px;	
}

form#hospital-list td div.notes {
	 width: 400px;	
}

form#measure-list td div.notes {
	 width: 250px;	
}

form label.error {
	color:red;
	padding: 0;
	border: none;
	background: none;
}

form input.error {
	border:1px solid red;
}

form input.error {
	/*border:1px solid red;*/
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;  
  top: 280px;
  left: 850px;
  z-index: 100;
}

form#hospital-edit div#myTabContent  {
	display:block;
	height: 300px;
	width:100%;
	overflow: auto;   
}


form#product-edit div#myTabContent, form#element-edit div#myTabContent, form#ehr-edit div#myTabContent   {
	display:block;
	height: 304px;
	width:100%;
	overflow: auto;   
}

form#measure-edit div#myTabContent  {
	display:block;
	height: 269px;
	width:100%;
	overflow: auto;   
}


th.f-btn, td.f-btn {
	width: 20px;
}

div#modalDataElements {
	height: 500px;
    left: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*right: auto;*/
    width: 900px;
}

div.row-fluid textarea {
	height: 64px;	
}


.cqmDomain {
	margin-top: 5px;
}

.required {
	color: #ff0000;
}


/* container */
.page-container {
   min-height:100%;
   position:relative;
}


/* header */
.page-header{
    height: 140px;
    background: url("images/blue-sliver.png") repeat-x;   
    margin: 0;
    border-bottom: none;    
}


header {
    max-width: 980px;
    height: 140px;
    background: url("images/head-bg.png") no-repeat scroll -13px 0;
    margin: 0px auto 0px auto;
    position: relative;
}

header a.logo {
    display: block;
    position: absolute;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width:150px;
    height: 85px;
    top: 18px ;
    left: 22px;
    background-image: url("images/ihm-logo-TRANS-sm.png");
}

nav.header-nav {
    max-width: 980px;
    display: block;
    position: absolute;
    top: 102px;
}

nav.header-nav a {
    color: #fff;
    background-color: #58727F;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: .9em;
    line-height: 38px;
    margin-right: 3px;
    padding: 0 48px;
}

nav.header-nav a:hover {
    background-color:#0A99B2;
}

.btn-primary {
	background-color:#0A99B2;
}


/* content */
.page-content {
    max-width: 980px;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: #fff;    
    /*min-height: 720px;    */
    height: 100%;
    padding-bottom:105px; /* Height of the footer */    
    overflow: auto;    
}

.app {
    padding: 0 20px 10px 20px;
    margin: 0 12px 12px 12px;
}


/* footer */
footer {
    width:100%;
    position:fixed;
    bottom:0;
    font-size: 0.85em;
    background-color: #58727F;
    color: #fff;
    margin-top: 12px;
    padding: 10px 0px 0px 0px;    
   /* height:115px;   /* Height of the footer */    
    height:105px;   /* Height of the footer */
}


nav.footer-nav {
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    background-color: #58727F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav.footer-nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    margin: 10px 0px 10px 50px ;
}

nav.footer-nav a:hover {
    color: #EEE;
    text-decoration: underline;
}

nav.footer-nav a.logo {
    display: inline-block;    
    position: relative;
    bottom: 10px;
   /*height: 85px;*/
}

div#message-box {
	display: none;
	position:absolute;
}

select.ui-pg-selbox{
	padding:0 !important;	
}

.ui-widget {
 	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: .9em;
}

.ui-multiselect-checkboxes input {
	margin: 5px;
}

.ui-multiselect-checkboxes label {
	font-size: 1.1em;
}


table.dataTable tr.even td.sorting_1, table.dataTable tr.odd td.sorting_1 {
background-color: #fff;
}


table input, table select  {
  margin: 0 !important;
  width: 96%;
}

table input  {
  width: 90%;
}

.btn-mini {
	margin: 0;
    height: 28px;
}


/*input[type="checkbox"] {
	width: 40px;
}*/

button#btnApplyHospitalOptions {
	width: 112px;
}

